<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create trainer</title>
</head>
<body>
<h1>Create New Trainer</h1>
<p>
    <a href="/admin/trainers">Trainers list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/create-trainer}" th:object="${trainer}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
<!--        <tr>-->
<!--            <td>Link Icon</td>-->
<!--            <td><input type="text" th:field="*{linkIcon}"/></td>-->
<!--        </tr>-->

        <tr>
            <td></td>
            <td><input type="submit" value="Create Trainer"></td>
        </tr>
    </table>
</form>
</body>
</html>