<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create type course</title>
</head>
<body>
<h1>Create New Type Course</h1>
<p>
    <a href="/admin/type-courses">Type Courses list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/create-type}" th:object="${type}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Link Icon</td>
            <td><input type="text" th:field="*{linkIcon}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create type course"></td>
        </tr>
    </table>
</form>
</body>
</html>