<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Type Course</title>
</head>
<body>

<form th:action="@{/delete-type}" th:object="${type}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Link Icon</td>
            <td th:text="*{linkIcon}"></td>
        </tr>

        <tr>
            <td><input type="number" th:field="*{id}" th:value="${type.getId()}" hidden></td>
            <td><input type="submit" value="delete type course"></td>
        </tr>
    </table>
</form>
</body>
</html>