<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Course</title>
</head>
<body>
<!--/*@thymesVar id="course" type="com.codegym.cms.model.Courses"*/-->
<form th:action="@{/delete-course}" th:object="${course}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Objectives</td>
            <td th:text="*{objectives}"></td>
        </tr>
        <tr>
            <td>Eligibility</td>
            <td th:text="*{eligibility}"></td>
        </tr>
        <tr>
            <td>Fee</td>
            <td th:text="*{fee}"></td>
        </tr>
        <tr>
            <td>Available Seat</td>
            <td th:text="*{availableSeat}"></td>
        </tr>
        <tr>
            <td>Time Begin</td>
            <td th:text="*{timeBegin}"></td>
        </tr>
        <tr>
            <td>Time End</td>
            <td th:text="*{timeEnd}"></td>
        </tr>
        <tr>
            <td>Type Course</td>
            <td th:text="*{getTypeCourses().getName()}"></td>
        </tr>
        <tr>
            <td><input type="number" th:field="*{id}" th:value="${course.getId()}" hidden></td>
            <td><input type="submit" value="delete course"></td>
        </tr>
    </table>
</form>
</body>
</html>