<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Trainer</title>
</head>
<body>

<form th:action="@{/delete-trainer}" th:object="${trainer}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="*{name}"></td>
        </tr>
<!--        <tr>-->
<!--            <td>Link Icon</td>-->
<!--            <td th:text="*{linkIcon}"></td>-->
<!--        </tr>-->

        <tr>
            <td><input type="number" th:field="*{id}" th:value="${trainer.getId()}" hidden></td>
            <td><input type="submit" value="delete Trainer"></td>
        </tr>
    </table>
</form>
</body>
</html>