<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Type Course</title>
</head>
<body>
<p>
    <a href="/admin/type-courses">Type Courses list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/edit-type}" th:object="${type}" method="post">
    <table>
        <tr>
            <td>Name</td>

            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>link Icon</td>

            <td><input type="text" th:field="*{linkIcon}"></td>
        </tr>

        <tr>
            <td><input type="number" th:field="*{id}" th:value="${type.getId()}" hidden></td>
            <td><input type="submit" value="Edit type course"></td>
        </tr>
    </table>
</form>
</body>
</html>