<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Trainer</title>
</head>
<body>
<p>
    <a href="/admin/trainers">Trainers list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/edit-trainer}" th:object="${trainer}" method="post">
    <table>
        <tr>
            <td>Name</td>

            <td><input type="text" th:field="*{name}"></td>
        </tr>
<!--        <tr>-->
<!--            <td>link Icon</td>-->

<!--            <td><input type="text" th:field="*{linkIcon}"></td>-->
<!--        </tr>-->

        <tr>
            <td><input type="number" th:field="*{id}" th:value="${trainer.getId()}" hidden></td>
            <td><input type="submit" value="Edit Trainer"></td>
        </tr>
    </table>
</form>
</body>
</html>